
Saved/Logs/ShelterFallen.log
Saved/Config/WindowsEditor/Engine.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/CrashReportClient/UECC-Windows-FE9C54514B34B6559694378F11229A14/CrashReportClient.ini
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/ReimportCache/3688439234.bin
Intermediate/CachedAssetRegistry_0.bin
